<tr>
    <td><span style='display:none;'>{{dateIssuedInteger}}</span>{{dateIssued}}</td>
    <td>{{companyName}}</td>    
    <td>{{clientName}}</td>
    <td>{{fleetDetails.driverName}}</td>
    <td>{{fleetDetails.truckPlateNo}}</td>
    <td>
        <button type="button" class="btn btn-info viewBtn material-icons-outlined md-24" data-toggle="modal" data-target="#exampleModal{{@index}}" id="submit">
            <i class="material-icons-outlined viewIcon" style="font: size 48px;">table_view</i>
        </button>
    </td>
    <td><div class="paymentDiv"><button data-id={{_id}} class="paymentStatus payment-btn"  data-toggle="modal" href="#paymentStatusModal" type="submit">{{status}}</button></div></td>
</tr>


<!-- 1st Modal: View Delivery Receipt Details -->
<div id="modalAccounting bd-example-modal-lg">
    <div div class="modal fade" id="exampleModal{{@index}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 id="modal-dr-title">
                        Delivery Receipt
                    </h1>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body" id="modal-body">
                    <div id="modal-dr-header">
                        Click <b>&times;</b> to exit this view.
                    </div>
                    <div class="modal-part1" id="modal-part1">
                        <div id="upper1-part1">
                            <p id="upper1-left-p1">Date Issued <br>Forwarding/Broker's Company </p>
                            <p id="upper1-right-p1">{{dateIssued2}}<br>{{companyName}}</p>
                        </div>
                        <div id="upper2-part1">
                            <p id="upper2-left-p1">Client </p>
                            <p id="upper2-right-p1">{{clientName}}</p>
                        </div>    
                        <div id="lower1-part1">
                            <p id="lower1-left-p1">Pick-Up Site </p>
                            <p id="lower1-right-p1">{{pickSite}}</p>
                        </div>

                        <div id="lower2-part1">
                            <p id="lower2-left-p1">Delivery Site </p>
                            <p id="lower2-right-p1">{{dropSite}}</p>
                        </div>
                    </div>
                    
                    <div class="modal-part2" id="modal-part2">
                        <div id="upper-part2">
                            <p id="upper-left-p2">Mode of Shipment <br>List of Documents </p>
                            <p id="upper-right-p2">{{shipMode}}<br>{{documentList.documents}}</p>
                        </div>
                        <div id="middle-part2">
                            <p id="middle-left-p2">Processor </p>
                            <p id="middle-right-p2">{{documentList.processor}}</p>
                        </div>
                        <div id="lower-part2">
                            <p id="lower-left-p2">Quantity <br>Description of Commodity </p>
                            <p id="lower-right-p2">{{quantity}}<br>{{commodityDesc}}</p>
                        </div>
                    </div>
                    
                    <div class="modal-part3" id="modal-part3">
                        <div id="left-p3">
                            <h6>PICK-UP POINT</h6>
                            <div class="modal-pickup-point" id="modal-pickup-point">
                                <div id="arrival-ppoint">
                                    <div id="arrival-date-ppoint">
                                        <p class="label-p3" id="a-date-label-ppoint-p3">Arrival Date </p>
                                        <p class="input-p3" id="a-date-input-ppoint-p3">{{pickUpDates.arrivalDate}}</p>
                                    </div>
                                    <div id="arrival-time-ppoint">
                                        <p class="label-p3" id="a-time-label-ppoint-p3">Time </p>
                                        <p class="input-p3" id="a-time-input-ppoint-p3">{{pickUpDates.arrivalTime}}</p>
                                    </div>	
                                </div>
                                <br>
                                <div id="departure-ppoint">
                                    <div id="departure-date-ppoint">
                                        <p class="label-p3" id="d-date-label-ppoint-p3">Departure Date </p>
                                        <p class="input-p3" id="d-date-input-ppoint-p3">{{pickUpDates.departureDate}}</p>
                                    </div>
                                    <div id="departure-time-ppoint">
                                        <p class="label-p3" id="d-time-label-ppoint-p3">Time </p>
                                        <p class="input-p3" id="d-time-input-ppoint-p3">{{pickUpDates.departureTime}}</p>
                                    </div>	
                                </div> 
                            </div>
                        </div>
                        
                        <div id="right-p3">
                            <h6>DESTINATION POINT</h6>
                            <div id="modal-destination-point">
                                <div id="arrival-dpoint">
                                    <div id="arrival-date-dpoint">
                                        <p class="label-p3" id="a-date-label-dpoint-p3">Arrival Date </p>
                                        <p class="input-p3" id="a-date-input-dpoint-p3">{{destinationDates.arrivalDate}}</p>
                                    </div>
                                    <div id="arrival-time-dpoint">
                                        <p class="label-p3" id="a-time-label-dpoint-p3">Time </p>
                                        <p class="input-p3" id="a-time-input-dpoint-p3">{{destinationDates.arrivalTime}}</p>
                                    </div>
                                </div>
                                <br>
                                <div id="startload-dpoint">
                                    <div id="startload-date-dpoint">
                                        <p class="label-p3" id="sl-date-label-dpoint-p3">Date Started Loading/Unloading </p>
                                        <p class="input-p3" id="sl-date-input-dpoint-p3">{{destinationDates.unloadingStartDate}}</p>
                                    </div>
                                    <div id="startload-time-dpoint">
                                        <p class="label-p3" id="sl-time-label-dpoint-p3">Time </p>
                                        <p class="input-p3" id="sl-time-input-dpoint-p3">{{destinationDates.unloadingStartTime}}</p>
                                    </div>
                                </div>
                                <br>
                                <div id="finishload-dpoint">
                                    <div id="finishload-date-dpoint">
                                        <p class="label-p3" id="fl-date-label-dpoint-p3">Date Finished Loading/Unloading </p>
                                        <p class="input-p3" id="fl-date-input-dpoint-p3">{{destinationDates.unloadingFinishedDate}}</p>
                                    </div>
                                    <div id="finishload-time-dpoint">
                                        <p class="label-p3" id="fl-time-label-dpoint-p3">Time </p>
                                        <p class="input-p3" id="fl-time-input-dpoint-p3">{{destinationDates.unloadingFinishedTime}}</p>
                                    </div>
                                </div>
                                <br>
                                <div id="departure-dpoint">
                                    <div id="departure-date-dpoint">
                                        <p class="label-p3" id="d-date-label-dpoint-p3">Departure Date </p>
                                        <p class="input-p3" id="d-date-input-dpoint-p3">{{destinationDates.departureDate}}</p>
                                    </div>
                                    <div id="departure-time-dpoint">
                                        <p class="label-p3" id="d-time-label-dpoint-p3">Time </p>
                                        <p class="input-p3" id="d-time-input-dpoint-p3">{{destinationDates.departureTime}}</p>
                                    </div>	
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-part4" id="modal-part4">
                        <h6>FLEET DETAILS</h6>
                        <div id="modal-fleet1-details">
                            <p id="upper1-left-p4">Truck Plate Number <br>Driver </p>
                            <p id="upper1-right-p4">{{fleetDetails.truckPlateNo}} <br>{{fleetDetails.driverName}}</p>
                        </div>
                        <div id="modal-fleet2-details">
                            <p id="upper2-left-p4">Helper </p>
                            <p id="upper2-right-p4">{{fleetDetails.helperName}}</p>
                        </div>
                        <br>
                        <h6>ACKNOWLEDGEMENT</h6>
                        <div id="modal-acknowledgement1">
                            <p id="lower1-left-p4">Acknowledgement </p>
                            <p id="lower1-right-p4">{{acknowledgement.remarks}}</p>
                        </div>
                        <div id="modal-acknowledgement2">
                            <p id="lower2-left-p4">Date <br>Time </p>
                            <p id="lower2-right-p4">{{acknowledgement.dateAck}}<br>{{acknowledgement.timeAck}}</p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>	
</div>

