<tr>
    <td>{{dateIssued}}</td>
    <td>{{clientName}}</td>
    <td>{{status}}</td>
    <td>{{fleetDetails.driverName}}</td>
    <td>{{fleetDetails.helperName}}</td>
    <td>{{fleetDetails.truckPlateNo}}</td>
</tr>