<tr>
    <td>{{dateIssued}}</td>
    <td>{{clientName}}</td>
    <td>{{status}}</td>
    <td>{{fleetDetails.driverName}}</td>
    <td>{{fleetDetails.helperName}}</td>
    <td>{{fleetDetails.truckPlateNo}}</td>
    <td>
        <button type="button" class="btn btn-info editBtn material-icons-outlined md-24">
            <i class="material-icons-outlined editIcon" style="font: size 48px;">edit_note</i>
        </button>
    </td>
</tr>