<html>
    <head>
        <meta charset="utf-8">
        <!-- Page Title -->
        <title>{{name}}</title>
        <link rel="icon" type="image/png" href="/images/favicon.ico"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">

        <!-- Import stylesheet -->
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/company-dr-list.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">

        <!-- Import jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
                crossorigin="anonymous">
        </script>

        <!-- Import javascript -->
	    <script type="text/javascript" src="/js/search-dr.js"></script>
    </head>

    <body>
        <!-- Navigation bar here -->
        {{> navbar}}
    
        <div id="main-div">
            <div class="col-lg-10 h-75 d-inline-block row justify-content-center" id="content-container">
                <div class="row">
                    <div class="col-lg-12" id="title-container">
                        <h1 data-id={{dataName}} id="company-name-title">{{name}}</h1>              
                    </div>
                </div>

                <div class="col-md-2" id="mainContainerForYear"> 
                    <label for ="filterYear" id="containerForYear">
                        Update year:  
                    </label>

                    <input type="number" class="form-control form-control-sm searchField" id="search-year-input"  
                           placeholder="Year" aria-controls="DataTables_Table_0" name="filterYear" value={{year}} max={{year}}>

                    <button type="button" class="btn btn-success" id="filter-year-btn">
                        <span class="material-icons-outlined">
                            update
                        </span>
                    </button>
                </div>

                <div class="col-xl-12 mb-3 mt-3">
                    <table class="table table-striped table-bordered drdatatable" style="width: 100%" id="dr-datatable">
                        <thead>
                            <tr> 
                                <th class="filterCol">Date Issued</th>
                                <th class="filterCol">Client</th>
                                <th class="filterCol">Payment Status</th>
                                <th class="filterCol">Driver</th>
                                <th class="filterCol">Helper </th>
                                <th class="filterCol">Truck Plate No.</th>
                                <th>Edit DR</th>
                            </tr>           
                        </thead>
                        
                        <tbody>
                            {{#each dr}}
                                {{>drRow}}    
                            {{/each}}
                        </tbody>
                        
                        <tfoot>
                            <tr>
                                <th class="filterCol">Date Issued</th>
                                <th class="filterCol">Client</th>
                                <th class="filterCol">Payment Status</th>
                                <th class="filterCol">Driver</th>
                                <th class="filterCol">Helper </th>
                                <th class="filterCol">Truck Plate No.</th>
                                <th>Edit DR</th>
                            </tr>    
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>  

        <!-- JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript"  src="/js/company-dr-list.js"></script>

    </body>
</html>